body{
    margin:0px !important;
    margin-top: 0px !important;
    padding: 0;
    border: 0;
background-image: url(Designer.jpeg);
backdrop-filter: none;
backdrop-filter:url(Designer.jpeg);
backdrop-filter:blur(5px);
background-size: contain;
}

#cartao{
    background-image: radial-gradient(circle at 120.71% 50%, #ffffd5 0, #ffffc5 16.67%, #fff8b4 33.33%, #ebd4a3 50%, #c7b292 66.67%, #a59583 83.33%, #857d76 100%);
}

#text{

}

header{

    color:white;
}

h1{
      background-color: radial-gradient(circle at 120.71% 50%, #8f9033 0, #92872e 8.33%, #917b2a 16.67%, #8d6d27 25%, #835e24 33.33%, #764d20 41.67%, #643c1c 50%, #512c17 58.33%, #411f12 66.67%, #33150d 75%, #280d05 83.33%, #200300 91.67%, #1a0000 100%);
}

h2{
    background-color: radial-gradient(circle at 120.71% 50%, #8f9033 0, #92872e 8.33%, #917b2a 16.67%, #8d6d27 25%, #835e24 33.33%, #764d20 41.67%, #643c1c 50%, #512c17 58.33%, #411f12 66.67%, #33150d 75%, #280d05 83.33%, #200300 91.67%, #1a0000 100%);
    color:white;
    float: center;
    width: 200px;
}

h3{
    background-color: radial-gradient(circle at 120.71% 50%, #8f9033 0, #92872e 8.33%, #917b2a 16.67%, #8d6d27 25%, #835e24 33.33%, #764d20 41.67%, #643c1c 50%, #512c17 58.33%, #411f12 66.67%, #33150d 75%, #280d05 83.33%, #200300 91.67%, #1a0000 100%);
}

p{
    background-color: radial-gradient(circle at 120.71% 50%, #8f9033 0, #92872e 8.33%, #917b2a 16.67%, #8d6d27 25%, #835e24 33.33%, #764d20 41.67%, #643c1c 50%, #512c17 58.33%, #411f12 66.67%, #33150d 75%, #280d05 83.33%, #200300 91.67%, #1a0000 100%);
}

a{
    background-color: radial-gradient(circle at 120.71% 50%, #8f9033 0, #92872e 8.33%, #917b2a 16.67%, #8d6d27 25%, #835e24 33.33%, #764d20 41.67%, #643c1c 50%, #512c17 58.33%, #411f12 66.67%, #33150d 75%, #280d05 83.33%, #200300 91.67%, #1a0000 100%);
}

svg{
    background-color: radial-gradient(circle at 120.71% 50%, #8f9033 0, #92872e 8.33%, #917b2a 16.67%, #8d6d27 25%, #835e24 33.33%, #764d20 41.67%, #643c1c 50%, #512c17 58.33%, #411f12 66.67%, #33150d 75%, #280d05 83.33%, #200300 91.67%, #1a0000 100%);
}

section{
    color:white;
}

figure{

    float:inline-start;
    text-align: center;
    background-color: black;
    width: 320px;
    text-align: center;
    padding: 15px;
    font-family: 'Comic Sans MS', cursive;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
    margin: auto;
}

footer{
    color:white;
}
